@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Beiruti", sans-serif;
    user-select: none;
}

.DarkLightIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 2px;
    top: 10px;
    right: 10px;
}

.DarkLightIcon:hover {
    cursor: pointer;
}

#darkIcon {
    border: 2px solid black;
    display: none;
}

#lightIcon {
    border: 2px solid white;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    transition: .5s;
    background-color: rgb(15, 15, 15);
}

.container {
    min-width: 330px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
}

.target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    padding: 30px 0px;
    width: 100%;
    height: 320px;
    border-radius: 0px 0px 10px 10px;
    transition: .5s;
}

#imgProfile {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 90px;
    border: 6px solid rgb(25, 25, 25);
    transition: .5s;
}

.imageAndBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 47px 0px;
    background-color: #3498db;
    border-radius: 10px 10px 0px 0px;
    transition: .3s;
}

.personalInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 23px;
    font-weight: 700;
    color: #3498db;
    transition: .3s;
}

#profession {
    color: rgba(145, 145, 145);
    font-weight: 600;
}

.followingAndFollowers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 22px;
}

.followindAndFollowersValue {
    font-size: 30px;
    transition: .5s;
    color: white;
}

.following {
    margin-left: 50px;
}

.followers {
    margin-right: 50px;
}

.following, .followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

#followingText, #followersText {
    color: #3498db;
    transition: .3s;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    width: 20%;
    height: 75px;
    padding: 30px 0px;
    background-color: rgb(25, 25, 25);
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
    transition: .5s;
}

.colors button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    border: 2.5px solid rgba(245, 245, 245, .6);
    margin: 0px 10px;
    transition: .3s;
}

.colors button:hover {
    cursor: pointer;
    transform: scale(1.04);
}

#btnBlue {
    background-color: #3498db;
}

#btnRed {
    background-color: #ff1756;
}

#btnGreen {
    background-color: #1cb65d;
}

#btnPurple {
    background-color: #8e44ad;
}

#btnYellow {
    background-color: #f4b932;
}

.followAndMessage {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btnFollow, #btnMessage {
    border: none;
    background-color: transparent;
    font-size: 25px;
    border-radius: 30px;
    width: 130px;
    height: 50px;
    font-weight: 700;
    transition: .3s;
}

#btnFollow:hover, #btnMessage:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#btnFollow {
    margin-left: 25px;
    background-color: #3498db;
    border: 3.5px solid #3498db;
    color: rgb(25, 25, 25);
}

#btnMessage {
    margin-right: 25px;
    color: #3498db;
    border: 3.5px solid #3498db;
}

.colors button.active {
    box-shadow: 0px 0px 10px 4px #3498db;
}