<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="target" class="target">
            <div class="personalInformation">
                <img src="../assets/images/profile1.jpg">
                <p id="personalName">Edwin Peña</p>
                <p>Junior Web Developer</p>
            </div>

            <div class="followingAndFollowers">
                <p>0.00K</p>
                <p id="followingText">Following</p>

                <p>0.00K</p>
                <p id="followersText">Followers</p>
            </div>

            <div class="followAndMessage">
                <button id="btnFollow">Follow</button>
                <button id="btnMessage">Message</button>
            </div>
        </div>

        <div class="colors">
            <button id="btnBlue" onclick="changeColor('#3498db')">Blue</button>
            <button id="btnRed" onclick="changeColor('#ff1756')">Red</button>
            <button id="btnGreen" onclick="changeColor('#1cb65d')">Green</button>
            <button id="btnPurple" onclick="changeColor('#8e44ad')">Purple</button>
            <button id="btnYellow" onclick="changeColor('#f4b932')">Yellow</button>
        </div>
    </div>
</body>
</html>