<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>

<header>
    <nav>
        <img id="darkIcon" class="DarkLightIcon" src="../assets/icons/moon-icon.png" alt="Change to Dark Theme">
        <img id="lightIcon" class="DarkLightIcon" src="../assets/icons/sun-icon.png" alt="Change to Light Theme">
    </nav>
</header>

<body>
    <div class="container">
        <div id="imgBg" class="imageAndBackground">
            <img id="imgProfile" src="../assets/images/profile1.jpg">
        </div>
        <div id="target" class="target colorDarkLightBg">
            <div class="personalInformation">
                <p id="personalName" class="elementToChangeColor">Edwin Peña</p>
                <p id="profession">Junior Web Developer</p>
            </div>

            <div class="followingAndFollowers">
                <div class="following">
                    <p id="followingNumber" class="followindAndFollowersValue colorDarkLightTxt">115</p>
                    <p id="followingText" class="elementToChangeColor">Following</p>
                </div>

                <div class="followers">
                    <p id="followersNumber" class="followindAndFollowersValue colorDarkLightTxt">107</p>
                    <p id="followersText" class="elementToChangeColor">Followers</p>
                </div>
            </div>

            <div class="followAndMessage">
                <a href="https://www.instagram.com/xedwxn/" target="_blank">
                    <button id="btnFollow">Follow</button>
                </a>

                <a href="https://ig.me/m/xedwxn" target="_blank">
                    <button id="btnMessage" class="elementToChangeColor">Message</button>
                </a>
            </div>
        </div>
    </div>

    <div id="colors" class="colors colorDarkLightBg">
        <button id="btnBlue" class="colorsBtn active"></button>
        <button id="btnRed" class="colorsBtn"></button>
        <button id="btnGreen" class="colorsBtn"></button>
        <button id="btnPurple" class="colorsBtn"></button>
        <button id="btnYellow" class="colorsBtn"></button>
    </div>
</body>
</html>