<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div id="imgBg" class="imageAndBackground colorToChange">
            <img src="../assets/images/profile1.jpg">
        </div>
        <div id="target" class="target">
            <div class="personalInformation">
                <p id="personalName" class="colorToChange">Edwin Peña</p>
                <p id="profession">Junior Web Developer</p>
            </div>

            <div class="followingAndFollowers">
                <div class="following">
                    <p class="followindAndFollowersValue">115</p>
                    <p id="followingText" class="colorToChange">Following</p>
                </div>

                <div class="followers">
                    <p class="followindAndFollowersValue">107</p>
                    <p id="followersText" class="colorToChange">Followers</p>
                </div>
            </div>

            <div class="followAndMessage">
                <button id="btnFollow" class="colorToChange">Follow</button>
                <button id="btnMessage" class="colorToChange">Message</button>
            </div>
        </div>
    </div>

    <div class="colors">
        <button id="btnBlue" onclick="changeTheme('#3498db')"></button>
        <button id="btnRed" onclick="changeTheme('#ff1756')"></button>
        <button id="btnGreen" onclick="changeTheme('#1cb65d')"></button>
        <button id="btnPurple" onclick="changeTheme('#8e44ad')"></button>
        <button id="btnYellow" onclick="changeTheme('#f4b932')"></button>
    </div>
</body>
</html>